---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import martina from '../images/martina.png'
import shadow from '../images/shadow-database.png'
import table from '../images/create-table.png'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hej!</h1>
			<div class="prose">
			<figure class="centerFig">
				<Image src={martina} alt="A black-and-white selfie of Martina, who is smiling wide" width="300"/>
			</figure>

<p>I'm Martina, and I am a programmer and technical writer and <strong>I love to teach tech</strong>. I currently work as a <a href="https://tactilegames.com/martina-welander/">Technical Writer</a> at <a href="https://www.tactilegames.com/">Tactile Games</a>, and previously as an Education Engineer at <a href="http://www.prisma.io/">Prisma</a> and a Programmer Writer at <a href="https://sitecore.com/">Sitecore</a> (C#, .NET Core). You can find me on <a href="https://github.com/mhwelander">GitHub</a>, <a href="https://www.linkedin.com/in/martinawelander/">LinkedIn</a>, and <a href="https://bsky.app/profile/mhwelander.bsky.social">Bluesky</a></a>.</p>


<h2 id="documentation-examples">Content examples</h2>

<h3>Documentation</h3>
<ul>
<li><a href="https://www.prisma.io/docs/orm/prisma-client/setup-and-configuration/databases-connections">Database connection management</a></li>
<li><a href="https://www.prisma.io/docs/reference/tools-and-interfaces/prisma-client/pagination">Pagination with Prisma Client</a></li>
<li><a href="https://doc.sitecore.com/developers/93/sitecore-experience-platform/en/xconnect-and-the-xdb.html">The xConnect and xDB documentation for 9.0+</a></li>
<li><a href="https://doc.sitecore.com/xp/en/developers/93/platform-administration-and-architecture/global-privacy-guide.html">The Sitecore Privacy Guide</a> (researched and wrote)</li>
</ul>

<h3>Presentations</h3>

<ul>
	<li><a href="https://www.youtube.com/watch?v=0N3iJ1qbDR0">Virtual Developer Day 2019 - Sitecore Privacy Guide and GDPR</a></li>
	<li><a href="https://www.youtube.com/watch?v=SmKJnITMQZw">The world's worst pool party: Connection management with Prisma (Prisma Day)</a></li>
</ul>

<h3>Comics and illustrations</h3>

<figure class="centerFig w500">
	<a href={table.src}>
	<Image src={table} alt="CREATE TABLE cartoon" />
</a>
<figcaption>What happens when you <code>CREATE TABLE</code></figcaption>

</figure>


<figure class="centerFig w500">
	<a href={shadow.src}>
	<Image src={shadow} alt="Shadow database cartoon" />
</a>
<figcaption>The <a href="https://www.prisma.io/docs/orm/prisma-migrate/understanding-prisma-migrate/shadow-database">Prisma shadow database</a></figcaption>

</figure>

<h2 id="contact-me">Contact me</h2>

<p>📧 martinawelander@gmail.com</p>

</div>
		</main>
		<Footer />
	</body>
</html>
